#instreet-plugin-container{
	font: 12px/1.5 tahoma,arial,"宋体";
	color: #000;
}
#instreet-plugin-container ul,#instreet-plugin-container li,#instreet-plugin-container p,#instreet-plugin-container h1,
#instreet-plugin-container h2,#instreet-plugin-container h3,#instreet-plugin-container dl,#instreet-plugin-container dd,
#instreet-plugin-container dt{
	margin: 0;padding: 0;
}
#instreet-plugin-container ul,#instreet-plugin-container li{
	list-style: none;
}
#instreet-plugin-container a img{border:none;}
#instreet-plugin-container h3{font-size: 14px;font-weight: bold;}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

#instreet-plugin-container .clearfix:before,
#instreet-plugin-container .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

#instreet-plugin-container .clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

#instreet-plugin-container .clearfix {
    *zoom: 1;
}

/*******************/
.in-ad-wrapper{
	position: absolute;
	z-index: 2147483640; 
	/*width: 242px;*/
	width: auto;
	overflow: hidden;
}

/****************************
*the style of ad tap
*****************************/
.in-tabs-wrapper{
	float: left;
	width: 26px;
	overflow: hidden;
}
.in-tabs-wrapper li.tab{
	display: block;
/*	width: 25px;
	position: relative;*/
}
.in-tabs-wrapper .tab a{
	/*float: left;*/
	display: block;
	background: #F1F1F1;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    width: 20px;
    border: 1px solid #BBB;
    border-top-color:#FFF;
    margin:0;
}
.in-tabs-wrapper .tab a em{
	font-style: normal;
/*	display: none;*/
}
.in-tabs-wrapper .first a{
	border-top: 1px solid #BBB;
	/*border-radius: 0 4px 0 0;*/
}
.in-tabs-wrapper .focus a{
    background-color: #E6E6E6;
    color: #000;
/*    padding:5px 4px;
    border-radius:0 4px 4px 0; */
}
.in-tabs-wrapper .focus a em{
	display: block;
}
/*.in-tabs-wrapper .tab a:hover{
    background-color: #E1E1E1;
    color: #000;
    padding:5px 4px;
    border-radius:0 4px 4px 0; 
}*/
.in-tabs-wrapper .tab a span{    
	display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto;
    background:url(../images/in-sprites.png) no-repeat;
}

.in-tabs-wrapper .tab .shop span{
	background-position: 0 0;
}
.in-tabs-wrapper .tab .ad span{
	background-position: 0px -64px;
}
.in-tabs-wrapper .tab .weibo span{
	background-position: 0px -48px;
}
.in-tabs-wrapper .tab .wiki span{
	background-position: 0 -97px;
}
.in-tabs-wrapper .tab .weather span{
	background-position: 0 -32px;
}
.in-tabs-wrapper .tab .news span{
	background-position: 0px -80px;
}
.in-tabs-wrapper .tab .share span{
	background-position: 0 -16px;
}


/*********************************
*style of content
*********************************/
.in-contents-wrapper{
	width: 0px;
	float: left;
	margin-left:-1px !important;
	text-align: left;
	overflow: hidden;
}
.in-contents-wrapper li{
	display: none;
}
.in-contents-wrapper li .title{
	background-color:#E6E6E6;
	border: 1px solid #BBB;
	border-bottom: none;
	border-radius: 0 5px 0 0;
	/*border-left: 1px solid #BBBBBB;*/
	color: #555;
}
#instreet-plugin-container .title{
	padding: 2px 5px;
}
.in-contents-wrapper li .title .in-close{
	text-decoration: none;
	color: #555;
	float: right;
	-webkit-transition:color 0.1s;
	-moz-transition:color 0.1s;
	-o-transition:color 0.1s;
	-ms-transition:color 0.1s;
	transition:color 0.1s;
}
.in-contents-wrapper li .title .in-close:hover{
	color: #000;
}
.in-contents-wrapper li .main-cont{
	background:#F1F1F1;
    padding:8px 7px;
    font-size: 0;
    border: 1px solid #BBB;
    overflow: hidden;
    position: relative;
}


/*************************
*style of shop
*************************/

.in-contents-wrapper .shop .pro-box{
	display: block;
	position: relative;
	background-color: #000000;
	text-decoration: none;
	display: none;
	width: 200px;
	height: 200px;
}
.in-contents-wrapper .shop .focus{
	display: block;
}
.in-contents-wrapper .shop .pro-box img{
	display: block;
	width: 200px;
	height: 200px;
    transition:all 0.25s ease-in 0.1s;
    -moz-transition:all 0.25s ease-in 0.1s;
	-webkit-transition:all 0.25s ease-in 0.1s;
	-o-transition:all 0.25s ease-in 0.1s;
	-ms-transition:all 0.25s ease-in 0.1s;
}
.in-contents-wrapper .shop .pro-box:hover img{
	opacity: 0.4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}
.in-contents-wrapper .shop .pro-info{
	position: absolute;
    top: 0;
    left: 0;
    width:200px;
    height:200px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.in-contents-wrapper .shop .pro-name{
    display: block;
	font-size: 20px;
	height: 30%;
	padding: 15% 10px 0;
	overflow: hidden;
/*	text-overflow: ellipsis;*/
	white-space: normal;
	word-wrap: break-word;
	color: #F8E0C5;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
    transition:opacity 0.3s;
    -moz-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
}
.in-contents-wrapper .shop .pro-box:hover .pro-name{
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.in-contents-wrapper .shop .pro-name:hover{
	color:#FF8666; 
	text-shadow: 0 0 10px rgba(255,255,255,.8);
}

.in-contents-wrapper .shop .pro-tobuy{
	float: right;
	text-align: center;
	width: 0;
	height: 50%;
	overflow: hidden;
	position: relative;
    transition:all 0.35s ease-in;
    -moz-transition:all 0.35s ease-in;
	-webkit-transition:all 0.35s ease-in;
	-o-transition:all 0.35s ease-in;
	-ms-transition:all 0.35s ease-in;
}
.in-contents-wrapper .shop .pro-price{
	display: block;
	font-size: 26px;
	color: #FFF;
	height: 50%;
	width: 0;
	line-height: 4.2em;
	text-align: center;
	overflow: hidden;
    transition:all 0.35s ease-in;
    -moz-transition:all 0.35s ease-in;
	-webkit-transition:all 0.35s ease-in;
	-o-transition:all 0.35s ease-in;
	-ms-transition:all 0.35s ease-in;
}
.in-contents-wrapper .shop .pro-box:hover .pro-price{
	width: 50%;
	_width:95px;
}
.in-contents-wrapper .shop .pro-box:hover .pro-tobuy{
	width: 50%;
}
.in-contents-wrapper .shop .pro-tobuy em{
	background-image: linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),0 2px 2px -1px rgba(0, 0, 0, .5),0 1px 0 rgba(255, 255, 255, .3) inset;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	background-color:#C43C35;
	padding:6px 15px;
	border: 1px solid #C43C35;
	border-radius:5px; 
	color: #FFF;
	font: bold 12px/1.8 "宋体";
	font-style: normal;
    left: 0;
    position: absolute;
    top: 35%;
    width: 52px;
    height: 22px;
}
.in-contents-wrapper .shop .pro-tobuy em:hover{
	background-color: #ee5f5b;
}
.in-contents-wrapper .shop .pro-tobuy em:active{
	background: #c43c35;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}
.in-contents-wrapper .in-shop-selector,
.in-contents-wrapper .in-weibo-selector,
.in-contents-wrapper .in-wiki-selector{
	text-align: center;
}

.in-contents-wrapper .in-shop-selector .select-item,
.in-contents-wrapper .in-wiki-selector .select-item,
.in-contents-wrapper .in-weibo-selector .select-item{
    display: inline-block;
    height: 8px;
    width: 8px;
    border: 2px solid #999;
    margin: 8px 4px 0 0;
    cursor: pointer;
    transition:background-color 0.12s;
    -moz-transition:background-color 0.12s;
    -webkit-transition:background-color 0.12s;
    -o-transition:background-color 0.12s;
    -ms-transition:background-color 0.12s;
}
.in-contents-wrapper .in-shop-selector .select-item:hover,
.in-contents-wrapper .in-weibo-selector .select-item:hover,
.in-contents-wrapper .in-wiki-selector .select-item:hover{
	background-color: #000;
}
.in-contents-wrapper .in-shop-selector .focus,
.in-contents-wrapper .in-weibo-selector .focus,
.in-contents-wrapper .in-wiki-selector .focus{
	display: inline-block;
	background: #000;
}
/******************************
*style of ad
*****************************/
.in-contents-wrapper li.shop .main-cont,.in-contents-wrapper li.ad .main-cont{
	background: url(../images/loading_sprint.gif) no-repeat center center #F1F1F1;
}
.in-contents-wrapper li.ad .large-image img{
	width: 200px;
}
.in-contents-wrapper li.ad i.small-info{
	background: url(../images/small-info.png) no-repeat 13px 0px;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',src="http://static.instreet.cn/widgets/push/images/small-info.png");	
	height: 25px;
	position: absolute;
	right: 5px;
	top: 7px;
	width: 40px;
	z-index: 9011;
}
.in-contents-wrapper li.ad .flash-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background: #FFF;
	opacity: 0;
	filter:alpha(opacity=0);
}

/******************************
*style of weibo
*****************************/
.in-contents-wrapper .weibo .weibo-item{
	display: none;
	max-height: 180px;
}
.in-contents-wrapper .weibo .in-slider-container .focus{
	display: block;
}
.in-contents-wrapper .weibo  .left{
	float: left;
	position: relative;
}
.in-contents-wrapper .weibo .left a
{
	background:#FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: inline-block;
    *zoom:1;
    padding: 2px;
}
.in-contents-wrapper .weibo .left a:hover{
	border-color: #555;
}
.in-contents-wrapper .weibo .left a img{
	width: 50px;
}
.in-contents-wrapper  .weibo .right{
	margin-left: 65px;
}
.in-contents-wrapper .weibo .right h3 a{
	color: #555;
	text-decoration: none;
	display: inline;
}
.in-contents-wrapper .weibo .right h3 a:hover{
	color: #000;
	_color:#555;
}
.in-contents-wrapper .weibo .right p{
	font-size: 13px;
	line-height: 22px;
	background: #FFF;
	position: relative;
	border: 1px solid #DBDBDB;
	border-radius: 4px;
	color: #666;
	min-height: 45px;
	_height:45px;
}
/*.in-contents-wrapper .weibo .focus .right p,*/
.in-contents-wrapper .weibo .right p:hover{
	border-color: #555;
}
/*.in-contents-wrapper .weibo .focus .right .arrow-one,*/
.in-contents-wrapper .weibo .right p:hover .arrow-one{
	border-color: transparent transparent #555;
}
#instreet-plugin-container .weibo .right p
{
	padding: 10px;
	margin-top: 10px;
}
.in-contents-wrapper .weibo .right .arrow-one,
.in-contents-wrapper .weibo .right .arrow-two{
	position: absolute;
	top:-14px;
	left: 10px;
	font-size: 0;
	line-height: 0;
	border-style: dashed dashed solid;
	border-color: transparent transparent #DBDBDB;
	border-width: 7px;
}
.in-contents-wrapper .weibo .right .arrow-two{
	border-color: transparent transparent #FFF;
    border-width: 6px;
    left: 11px;
    top: -12px;
}

.in-contents-wrapper .weibo .right .icon-section,
.in-contents-wrapper .wiki .right .icon-section
{
	padding: 10px 0 0;
	text-align: right;
}

/**********************************
*style of wiki
***********************************/
.in-contents-wrapper .wiki .wiki-item{
	display: none;
	max-height: 180px;
}

.in-contents-wrapper .wiki .in-slider-container .focus{
	display: block;
}
.in-contents-wrapper .wiki .left{
	float: left;
	position: relative;
}
.in-contents-wrapper .wiki .left .thumb{
	display: inline-block;
	*zoom:1;
	padding: 2px;
	border:1px solid #DBDBDB;
}
.in-contents-wrapper .wiki .left .thumb:hover{
	border-color: #555;
}
.in-contents-wrapper .wiki .left .thumb img{
	width: 50px;
}
.in-contents-wrapper .wiki .left .tagName{
    color: #555555;
    display: block;
    height: 42px;
    overflow: hidden;
    padding: 6px 0 0;
    text-align: left;
    text-decoration: none;
    width: 60px;
}
.in-contents-wrapper .wiki .left .tagName:hover{
	color: #000;
}
.in-contents-wrapper .wiki .right{
	margin-left: 65px;
}
.in-contents-wrapper .wiki .right p{
	font-size: 13px;
	line-height: 22px;
	color: #666;
	background:#FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
}
#instreet-plugin-container .wiki .right p{
    padding: 10px;
}
/*.in-contents-wrapper .wiki .focus .right,*/
.in-contents-wrapper .wiki .right p:hover{
	border-color: #555;
}

/******************************
*style of share
*****************************/
.in-contents-wrapper li.share .main-cont{
	padding: 12px 7px;
	text-align: left;
	height:88px;
}
.in-tabs-wrapper .share,.in-contents-wrapper .share{
	height: auto;
}
.in-contents-wrapper .share .main-cont a{
	display: inline-block;
	background: url(../images/share-icons.png) no-repeat;
	/*_background:url(../images/share-icons-ie6.gif) no-repeat;*/
	width: 32px;
	height: 32px;
    margin: 6px 9px;
    opacity: 0.8;
}
.in-contents-wrapper .share .main-cont a:hover{
	opacity:1;
}
.in-contents-wrapper .share .main-cont .sina-ico{
	background-position: 0 0;
}
.in-contents-wrapper .share .main-cont .tx-ico{
	background-position: 0 -34px;
}
.in-contents-wrapper .share .main-cont .qzone-ico{
	background-position: 0 -68px;
}
.in-contents-wrapper .share .main-cont .renren-ico{
	background-position: 0 -103px;
}

.in-contents-wrapper .share .main-cont .sohu-ico{
	background-position: 0 -172px;
}
.in-contents-wrapper .share .main-cont .wangyi-ico{
	background-position: 0 -137px;
}
.in-contents-wrapper .share .main-cont .douban-ico{
	background-position: 0 -242px;
}
.in-contents-wrapper .share .main-cont .kaixin-ico{
	background-position: 0 -207px;
}

/****************************
*style of weather
****************************/
.in-contents-wrapper li.weather .main-cont{
	padding: 12px 7px;
}
/****************************
*style of news
****************************/
.in-contents-wrapper li.news .main-cont .news-box{
	border:1px solid #B1C8D7;
	padding: 5px;
	background: #FFF;
	text-align: left;
	font: 14px/24px arial,serif,'宋体';
}
.in-contents-wrapper li.news .main-cont a{
    display: block;
    color: #2B2B2B;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
    text-decoration: none;
}
.in-contents-wrapper li.news .main-cont a:hover{
	color: #BA2636;
	text-decoration: underline;
}
.in-contents-wrapper li.news .main-cont span{
	font-size: 12px;
	display: block;
	color: #888;
	cursor: default;
}
/***************************
*style of spot
****************************/
#instreet-plugin-spotbox a{
	background: #000;
	width: 26px;
	height: 26px;
	border:2px solid #FFF;
	position: absolute;
	z-index: 2147; 
	opacity: .1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-transition: all 0.25s ease-in;
	-webkit-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
}
#instreet-plugin-spotbox a:hover{
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	box-shadow: 0 0 6px 2px rgba(0,0,0,.8);
};